@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');
/*  
	font-family: 'Noto Sans SC', sans-serif;
	font-family: 'Muli', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
*/

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}
ol, ul, li {
	list-style: none;
	padding: 0px;
	margin:0px;
}
*{box-sizing: border-box;}
nav { float:left; position:fixed; top:0; width:260px; background:#e3e3e3; height:100%; left:0px;font-family: 'Noto Sans KR', sans-serif;}
nav .gnb > li { float:left; position:relative;width:260px;}
nav .gnb > li > .depth2 { position:static; width:260px; display:none;}
nav .gnb > li > .depth2 > li > a { color:#fff; text-align:left; display:block; padding:15px 30px; font-size:14px; background:#9e8c6d;}
nav .gnb > li > .depth2 > li > a:hover {background:#78684a;}
ul > li { display:block; text-align:left;position:relative; vertical-align:middle;}
li a { color:#a2a2a2; font-size:14px; font-weight:400;}
li a:hover { color:#a2a2a2; }
.depth2 { position:absolute;  z-index:10; width:100%; left:50%; top:30px; border:1px solid #ddd;display:block; background:#fff; display:none; }
nav .gnb > li > a { font-size:18px; font-weight:500; display:block; padding:22px 30px; color:#333;}
nav .gnb > li > a:focus, 
nav .gnb > li > a:hover { color:black; }
a { color:#333; text-decoration:none;}
body a:focus, 
body a:hover { color:#275ba0; text-decoration:none; }

